<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-1 border-bottom">
    <h2 class="h2">Lista de Coches</h2>
  </div>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2  mb-3 border-bottom">
      <input
        type="text"
        placeholder="Buscar un Coche por su Id"
        class="form-control bg-withe text-dark border-1 my-3 mx-1 text-center"
        autofocus
        [(ngModel)]="idBuscado"
      />
      <button class="btn btn-md btn-primary mx-1" (click)="buscarCoche()" >Buscar</button>
      <button class="btn btn-md btn-danger mx-1" (click)="reiniciarBusqueda()" >Reiniciar</button>
    </div>
  <div class="table-responsive">
    <table class="table table-bordered text-center ">
      <thead>
        <tr class="justify-content-center">
          <th scope="col">Id</th>
          <th scope="col">Imagen</th>
          <th scope="col">Marca</th>
          <th scope="col">Nombre</th>
          <th scope="col">Año de Matriculacion</th>
          <th scope="col">Etiqueta Ambiental</th>
          <th scope="col">Peso</th>
          <th class="text-center" scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coche of inforcoches; let i = index">
          <th scope="row">{{coche.idunico}}</th>
          <td><img src="{{coche.imagen}}" width="150" height="100" /></td>
          <td>{{coche.marca}}</td>
          <td>{{coche.nombre}}</td>
          <td>{{coche.anyomatriculacion}}</td>
          <td>{{coche.etiquetaambiental}}</td>
          <td>{{coche.peso}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary mx-1" routerLink="/editar-inforcoche/{{coche.idunico}}">Editar</button>
            <button class="btn btn-sm btn-danger mx-1" (click)="eliminar(coche.idunico)">Borrar</button>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-sm btn-danger " (click)="eliminarTodos()">Eliminar Todos</button>
  </div>
</div>